<!DOCTYPE html>
<html lang="en-us" >
   <head>
      <!-- ADDED -->
      <script src="js/angular.js"></script>
      <script src="js/angular-route.js"></script>
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta charset="UTF-8">
      <!-- CDN lib files -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- CDN lib files -->
      <!--  <script src="js/angular.min.js"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js"></script>   
      <!-- Angular Material requires Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
      <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.js"></script>    
      <script src="app.js"></script>  
   </head>
   <body ng-app="myApp">
      <div layout="row">
      <div class="col-sm-12" ng-controller="Controller" >

        <div class="column-nav col-sm-12">
            <md-input-container>
              <label>Tables</label>
              <input type="text" ng-model="Tables">
            </md-input-container>
                        <md-input-container>
              <label>Seats</label>
              <input type="text" ng-model="Seats">
            </md-input-container>
            <md-button class="md-raised" ng-click="addTables()">Add table(s)</md-button>
            <md-button class="md-raised" ng-click="removeTables()">Remove table(s)</md-button>
        </div>
                 <div class="column-nav col-sm-12">
   
         </div>
                          <div class="column-nav col-sm-12">
                                      </md-input-container>
                        <md-input-container>
              <label>Seats</label>
              <input type="text" ng-model="SeatsPerTable">
            </md-input-container>
              <md-button class="md-raised" ng-click="takeTable()">Take table</md-button>
              <md-button class="md-raised" ng-click="freeTable()">Free table</md-button>
         </div>
      </div>
      </div>
   </body>
</html>