<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

 <div class="section">
      <div class="panel-group" 
        
        ui-shared-state="myAccordion" 
        ui-default='2'>

        <div class="panel panel-default" ng-repeat="i in [1,2,3]">
          <div class="panel-heading" ui-set="{'myAccordion': i}">
        
            <h4 class="panel-title">
                Collapsible Group Item #{{i}}
            </h4>
          </div>

          <div ui-if="myAccordion == {{i}}">
            <div class="panel-body">
              {{lorem}}
            </div>
          </div>
        </div>
      </div>
    </div>
