<!DOCTYPE html>
<html lang="en-us">

<head>
    <!-- ADDED -->
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- CDN lib files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- CDN lib files -->
    <!--  <script src="js/angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
    <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="myApp">
        <div style="text-align:center">
           <img src="iL-name_3_co[sml].png" >
      </div>
    <div class="container-fluid">
        <div class="col-md-12" ng-controller="Controller">
            <div class="column-nav col-sm-12">
                <uib-accordion close-others="oneAtATime">
                    <uib-accordion-group ng-repeat="place in places" ng-scroll="place in places" is-open="group.isOpen" ng-click="updateOpenStatus()">
                        <uib-accordion-heading ng-model="checkTitle">

                            <!-- Start Header -->





                            {{place.Name}} Empty seats here : {{place.EmptySeats}}

                            <!-- End Header -->
                        </uib-accordion-heading>

                        <!-- Start Content -->



                        <div class="col-md-12" layout-align="center center">

                            <div layout class="col-md-4">
                                <md-card>
                                    <img src="{{place.Logo}}" class="md-card-image" alt="image caption">
                                    <md-card-content>
                                        <h2> {{place.Name}}</h2>
                                        <p>{{place.Email}}</p>
                                    </md-card-content>
                                    <md-card-actions layout="row" layout-align="end left">
                                        <md-button>ADD TO FAVOURITES</md-button>
                                        <md-button  ng-click="onClick()">{{toggleText}}
                                        </md-button>

                                    </md-card-actions>
                                </md-card>
                            </div>

                            <div class="col-md-8">
                                    <div class="row">
                                    <div >
                                        <p>{{place.Address}}</p>
                                    </div>
                              
                            <div>  <a>{{place.Email}}</a>
                                 <div class="box on" ng-show="!hideBox" ng-animate="'box'">{{toggleText2}}</div>
                                 </div>

                                 <div>
                                    <select>
                                    <option ng-repeat="seat in place.Tables" >{{seat.Seats}}</option>
                                    </select> 

                                 </div>
                                    </div>
                            </div>

                        </div>
                        <!-- End Content -->

                    </uib-accordion-group>
                </uib-accordion>
            </div>
            <div ng-if='!isOpen'>
                DISCLAIMER : IF YOU DONT ARRIVE IN 10 MINUTES YOUR SEAT MAY BE TAKEN
            </div>
        </div>
    </div>



</body>

</html>